
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');


*{margin: 0;padding: 0;outline: none;}
header{background: #000;width: 100%;height: 100px;}
a{text-decoration: none;}
.logo-edson{width: 10%;height: 100%;float: left;display: flex;align-items: center;}
.logo-edson img{height: 90%;}
.menu{width: 90%;height: 100%;float: right;}
.menu ul{height: 100%;display: flex;flex-direction: row;list-style: none;justify-content: flex-end;}
.menu ul li{padding: 20px;cursor: pointer;margin:1rem;}
.menu ul li a{color: white;cursor: pointer;height: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 1.5rem;}
.menu ul li a:hover{color:rgb(93, 99, 96);transition: 1s;font-family: Arial, Helvetica, sans-serif;font-size: 1.4rem;}

/*CONTAINER BACKGROUND*/
.container-background{width: 100%; height:500px;display: flex;justify-content: center;align-items: center; background-image:url("imagens/computer-background.jpg");background-size:cover;background-color: rgba(0, 0, 0, .75);background-blend-mode: multiply;}
.container-background div{width: 80%;text-align: center;}
.container-background div h1{font-family: Teko,sans-serif;font-size: 8rem;color: #fff;}
.container-background div a{transition: all 1s ease;color: white;background: rgb(71, 7, 61);padding: 0.5rem 3rem ;font-size:1.7rem;font-family: Roboto,sans-serif;border:0.5px groove #fff;border-radius: 1rem;}
.container-background div a:hover{transition: all 2s ease;color: rgb(0, 0, 0);background: rgb(196, 45, 171);padding: 0.5rem 3rem ;font-size:1.7rem;font-family: Roboto,sans-serif;border:0.5px groove #fff;border-radius: 1rem;}
/*CONTENT*/
.wrap{width: 100%;display: flex;justify-content: center;flex-wrap: wrap;align-items: center;}
.cards{display: flex;justify-content: center;flex-direction: row;}
.content{width: 100%;height: 10%;padding: 50px 0;}
.content h2{font-family: Teko,roboto,sans-serif;text-align: center;font-size: 4rem;}
.card-shadow{margin: 0 20px; width: 30%;padding: 2rem;text-align: center;min-height: 250px;height: 310px;box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.466);}
.card-shadow img{width: 200px;}
.cards h3{font-family: Roboto,sans-serif;}
.cards h4{font-family: Roboto,sans-serif;}

/*PARALAX*/
.paralax{height: 600px;display:flex;align-items: center;background-image: url("imagens/computer-in-black.jpg");background-size: cover;background-color: rgba(0, 0, 0, .50);background-blend-mode: multiply;background-attachment: fixed;}
.paralax span{font-size: 4rem;color: #fff;font-family: Roboto,sans-serif;}

/*PORTFOLIO*/
.portfolio, .img-row-1{width: 100%;}
.portfolios div figure{width:100%;height: 400px;overflow: hidden;;box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.473);}
.portfolios div figure:hover img{-webkit-transform: rotate(0)scale(1);transform: rotate(0)scale(1);}
.portfolios div img{height: 430px;width: 100%;-webkit-transform: rotate(15deg) scale(1.4);transform: rotate(15deg)scale(1.4);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.portfolios div{display: flex;flex-direction: row;}

/*REDES SOCIAIS*/

.redes{height: 150px;width: 60%;}
.redes-sociais{text-align:justify;padding-top: 40px;padding-bottom: 40px;}
.redes-sociais li{display:inline-flex;}
.redes-sociais a{padding:1rem;}
.redes-sociais a:hover{height: 90px;width: 100%;-webkit-transform: rotate(15deg) scale(1.4);transform: rotate(15deg)scale(1.4);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
/*FOOTER*/

footer{width: 100%; font-size: 1rem;   background-color: rgb(0, 0, 0);color: #fff;height: 11rem;display:flex;justify-content:center;align-items:center;font-family: Roboto,sans-serif;}

/*MEDIA QUERIES*/
@media  (max-width:800px){
    .logo-edson img{height: 50%;padding: 1rem;}
    .cards{flex-wrap: wrap;}
    .cards div{width: 90%;margin: 5px 0;}
    .paralax span{font-size: 2rem;color: #fff;font-family: Roboto,sans-serif;}
    .portfolios div{flex-wrap: wrap;display: flex;justify-content: center;}
    .portfolios div figure{width: 90%;justify-content: center;}
    .container-background div h1{font-family: Teko,sans-serif;font-size: 7rem;color: #fff;}
    .menu ul{height: 100%;display: flex;flex-direction: row;list-style: none;justify-content: flex-end;}
    .menu ul li a{color: rgb(255, 250, 250);cursor: pointer;height: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 0.6rem;}
    .menu ul li a:hover{color:rgb(93, 99, 96);transition: 1s;font-family: Arial, Helvetica, sans-serif;font-size: 0.5rem;}
    .redes{height: 150px;width: 60%;}
    .redes-sociais{text-align:justify;padding-top: 40px;padding-bottom: 40px;}
    .redes-sociais li{display:inline-flex;}
    .redes-sociais a{padding:4px;}
    .redes-sociais a:hover{height: 90px;width: 100%;-webkit-transform: rotate(15deg) scale(1.4);transform: rotate(15deg)scale(1.4);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
    footer{width: 100%; font-size: 0.4rem;   background-color: rgb(0, 0, 0);color: #fff;height: 11rem;display:flex;justify-content:center;align-items:center;font-family: Roboto,sans-serif;}


}
@media only screen and (max-device-width: 480px) {
    .cards{flex-wrap: wrap;}
    .cards div{width: 90%;margin: 5px 0;}
    .paralax span{text-align: center;font-size: 2.5rem;}
    .portfolios div{flex-wrap: wrap;display: flex;justify-content: center;}
    .portfolios div figure{width: 90%;justify-content: center;}
    .container-background div h1{font-family: Teko,sans-serif;font-size: 5rem;color: #fff;}
    .wrap{width: 100%;display: flex;justify-content: center;flex-wrap: wrap;align-items: center;}
    .cards{display: flex;justify-content: center;flex-direction: row;}
    .content{width: 100%;height: 10%;padding: 50px 0;}
    .content h2{font-family: Teko,roboto,sans-serif;text-align: center;font-size: 4rem;}
    .card-shadow{margin: 0 20px; width: 30%;padding: 2rem;text-align: center;min-height: 250px;height: 310px;box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.466);}
    .card-shadow img{width: 150px;}
    .cards h4{font-family: Roboto,sans-serif;font-size: 0.9rem;}
    .menu ul{height: 100%;display: flex;flex-direction: row;list-style: none;justify-content: flex-end;}
    .menu ul li a{color: rgb(255, 250, 250);cursor: pointer;height: 100%; font-family: Arial, Helvetica, sans-serif;font-size: 0.3rem;}
    .menu ul li a:hover{color:rgb(93, 99, 96);transition: 1s;font-family: Arial, Helvetica, sans-serif;font-size: 0.3rem;}
    .redes{height: 150px;width: 60%;}
    .redes-sociais{text-align:justify;padding-top: 40px;padding-bottom: 40px;}
    .redes-sociais li{display:inline-flex;margin:0.1px;}
    .redes-sociais a{padding:1px;}
    .redes-sociais a:hover{height: 90px;width: 100%;-webkit-transform: rotate(15deg) scale(1.4);transform: rotate(15deg)scale(1.4);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
    footer{width: 100%; font-size: 0.2rem;   background-color: rgb(0, 0, 0);color: #fff;height: 10rem;display:block;justify-content:center;align-items:center;font-family: Roboto,sans-serif;}
}
